.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
}

.quickStart {
  padding: 2rem 0 4rem;
  background-color: var(--ifm-background-surface-color);
}
